<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lee.androiddemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.EasyPermissionsActivity" />
        <activity android:name=".activity.FragmentTabHostActivity" />
        <activity android:name=".activity.CalendarActivity" />
        <activity android:name=".activity.AnimatorActivity" />
        <activity android:name=".activity.MPAndroidChartActivity" />

        <service
            android:name=".service.LeeService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" /> <!-- 多进程 -->

        <activity android:name=".activity.ServiceActivity" />
        <activity android:name=".activity.Rxjava2Activity" />

        <service
            android:name=".service.DownIntentService"
            android:exported="false" />

        <activity android:name=".activity.UpdateActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".activity.TabLayoutActivity" />
        <activity android:name=".activity.GestureLockActivity" />
        <activity android:name=".activity.RecyclerViewActivity" />
        <activity android:name=".activity.WebViewActivity" />
        <activity android:name=".activity.DialogFragmentActivity" />
        <activity android:name=".activity.PhotoActivity" />

        <!-- 广播接接受 -->
        <receiver
            android:name=".receiver.MyWakefulBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.lee.androiddemo.work" />

                <category android:name="com.lee.androiddemo" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.WorkIntentService"
            android:exported="false"></service>
    </application>

</manifest>